<main role="main">
  <section class="jumbotron text-center">
    <div *ngIf="!user">
      <h1 class="jumbotron-heading">Hi Parents,</h1>
      <p class="lead text-muted">My Token Book provides a rewarding system helping to motivate your children for completing their homeworks, to encourage them for participating household chores, to inspire them for working harder, and all these fun with positive competitions.</p>
      <a href="#" class="btn btn-primary mr-2" (click)="signup(); false;">Signup</a> 
      <a href="#" class="btn btn-secondary" (click)="login(); false;">Login</a>
    </div>
    <div *ngIf="!!user">
      <h1 class="jumbotron-heading">Hi {{ user.first_name }}!</h1>
      <br>
      <p class="lead text-muted">It is all about promoting good behaviors...</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="row">
      <div class="col-md-4" *ngFor="let i of [1,2,3,4,5,6,7,8]">
        <div class="card mb-4 shadow-sm">
          <img class="bd-placeholder-img card-img-top"
	       src="assets/home/album-01.jpg"
	       width="100%"
	       height="225"
	       focusable="false"
	       role="img"
	       aria-label="Placeholder: Thumbnail" />
          <div class="card-body">
            <p class="card-text">This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
