<!-- controls -->
<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav flex-row">
    <li class="nav-item" *ngIf="!!user.family_id && RoleEnum.PARENT === user.role_id">
      <a class="nav-link" href (click)="showAddTokenDialog(); false">
        <i class="fas fa-plus-circle"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href (click)="reload(); false">
        <i class="fas fa-sync"></i>
      </a>
    </li>
  </ul>
</nav>

<!-- table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"
	  sortable="name"
	  (sort)="onSort($event)"
	  *ngIf="user.family_id && RoleEnum.PARENT === user.role_id">
	<i class="fas fa-user-friends"></i>
      </th>
      <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
      <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; index as i">
      <td *ngIf="user.family_id && RoleEnum.PARENT === user.role_id">
	{{ event.name }}
      </td>
      <td>{{ event.date + '' }}</td>
      <td>{{ event.category }}
	<span class="badge badge-secondary"
	      placement="top"
	      ngbTooltip="{{ event.description}}">
	  {{ event.amount | number }}
	</span>
      </td>
    </tr>
  </tbody>
</table>
