<nav class="navbar navbar-light bg-light flex-column flex-md-row bd-navbar">
  <form class="form-inline">
    Full text search: <input class="form-control mr-lg-2" type="search" placeholder="Search" aria-label="Search">
  </form>
  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item" *ngIf="!!user.family_id">
      <a class="nav-link" href (click)="refreshTokenEventList(); false">
        <i class="fas fa-sync"></i>
      </a>
    </li>
    <li class="nav-item" *ngIf="!!user.family_id && RoleEnum.PARENT === user.role_id">
      <a class="nav-link" href (click)="showAddTokenDialog(); false">
        <i class="fas fa-plus-circle"></i>
      </a>
    </li>
  </ul>
</nav>

<!-- table -->
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" sortable="name" (sort)="onSort($event)"><i class="fas fa-user-friends"></i></th>
      <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
      <th scope="col" sortable="category" (sort)="onSort($event)">Category</th>
      <th scope="col" sortable="amount" (sort)="onSort($event)">Amount</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events; index as i">
      <td>{{ event.name }}</td>
      <td>{{ event.date + '' }}</td>
      <td>{{ event.category }}</td>
      <td>{{ event.amount | number }}</td>
      <td>{{ event.description }}</td>
    </tr>
  </tbody>
</table>
