<!-- Alert Message -->
<ngb-alert type="danger" [dismissible]="false" *ngIf="alertMessage">
  {{ alertMessage }}
</ngb-alert>
<ng-template #container></ng-template>
<form *ngIf="!config.component" [formGroup]="_form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div *ngFor="let field of config.bindings.fields">
      <label for="{{ field.name }}">{{ field.title }}</label>
      <input *ngIf="!field.values"
             type="{{ field.type }}"
             formControlName="{{ field.name }}"
             class="form-control"
             [ngClass]="{ 'is-invalid': submitted && form[field.name].errors }" />
      <select *ngIf="field.values"
              class="form-control"
              formControlName="{{ field.name }}"
              [ngClass]="{ 'is-invalid': submitted && form[field.name].errors }">
        <option *ngFor="let c of field.values" [value]="c[field.valueKey]">
          {{ c[field.displayKey] }}
        </option>
      </select>
      <!-- Error Message -->
      <div *ngIf="submitted && form[field.name].errors" class="invalid-feedback">
        <div *ngIf="form[field.name].errors.required">required</div>
	<div *ngIf="form[field.name].errors.trimable">cannot have leading or tailing whitespaces</div>
	<div *ngIf="form[field.name].errors.minlength">must be least {{ form[field.name].errors.minlength.requiredLength }} chars.</div>
	<div *ngIf="form[field.name].errors.maxlength">must be less than {{ form[field.name].errors.maxlength.requiredLength }} chars.</div>
	<div *ngIf="form[field.name].errors.email">incorrect email format</div>
      </div>
    </div>
  </div>

  <div class="form-group text-right mt-4">
    <button type="submit" class="btn btn-outline-dark">{{ config.submit.title }}</button>
    <button *ngIf="config.cancel"
	    type="button"
	    class="btn btn-outline-dark"
	    (click)="onCancel()">
      {{ config.cancel.title }}
    </button>
  </div>
</form>
