<div *ngIf="user.family_id">
  <nav class="navbar navbar-light bg-light flex-column flex-md-row bd-navbar">
    <ul class="navbar-nav flex-row d-none d-md-flex">
      <li class="nav-item">
        <h3>{{ family.title }}</h3>
      </li>
    </ul>
  </nav>

  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let member of members">
      <div class="card card-default">
        <div class="card-body">
          <h5 class="card-title">{{ member.first_name }} {{ member.last_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ member.email || member.username }}</h6>
          <a class="card-link" href (click)="false">Edit</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card card-default">
        <a class="card-body" href (click)="navToRegisterFamilyMember(); false" >
          <i class="card-add fas fa-user-plus fa-2x"></i>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- creating family --->
<div class="row" *ngIf="!user.family_id">
  <div class="col-sm-6 offset-sm-3">
    <h2>Creating Family</h2>
    <form [formGroup]="createFamilyForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               class="form-control"
               formControlName="title"
               [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
