<div *ngIf="user.family_id && family">
  <nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
	<h3>{{ family.title }}</h3>
      </li>
    </ul>
  </nav>
  
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let member of members">
      <div class="card card-default">
        <div class="card-body">
          <h5 class="card-title">
	    {{ member.first_name }} {{ member.last_name }}
	    <span class="badge badge-success">{{ RoleEnum.PARENT === member.role_id ? 'p' : 'c' }}</span>
	  </h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ member.email || member.username }}</h6>
          <a class="card-link" href (click)="viewProfile(member); false">view</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card card-default">
        <a class="card-body" href (click)="navToRegisterFamilyMember(); false" >
          <i class="card-add fas fa-user-plus fa-2x"></i>
        </a>
      </div>
    </div>

  </div>
</div>
