<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" href (click)="add(); false;">
        <i class="fas fa-plus-circle"></i>
      </a>
    </li>
  </ul>
</nav>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of categories">
      <!--th scope="row"><input type="checkbox" value=""></th-->
      <td>{{ record.label}}</td>
      <td>
	<a href="#" (click)="edit(record); false;"><i class="far fa-edit mr-2"></i></a>
	<a href="#" (click)="delete(record); false;"><i class="far fa-trash-alt mr-2"></i></a>
      </td>
    </tr>
  </tbody>
</table>
