<nav class="navbar navbar-light bg-light">
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" href (click)="showDialog(); false">
        <i class="fas fa-plus-circle"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href (click)="showDialog2(); false">
        <i class="fab fa-bitcoin"></i>
      </a>
    </li>
  </ul>
</nav>

<table class="table table-striped table-bordered table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Label</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <!--th scope="row"><input type="checkbox" value=""></th-->
      <td>{{ category.label}}</td>
      <td>{{ category.description }}</td>
    </tr>
  </tbody>
</table>
